global-exclude *
recursive-include dggal *
recursive-exclude dggal obj/**
recursive-exclude dggal *.o**
recursive-exclude dggal *.so**
recursive-exclude dggal images/*
recursive-exclude dggal dggal.org/*
recursive-exclude dggal .git**
recursive-exclude dggal *.geojson**
include setup.py
include README.md
include dgg_wrapper.py
